.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.FaceWithBubble {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
}

.Confirm {
  grid-area: 2 / 2 / 3 / 3;
}

.Kokotko {
  width: 20rem;
  height: 25rem;
}

.Label {
  font-size: 1.5rem;
}

.Bubble {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 65%, 0% 55%, 10% 45%, 10% 0%);
  background-color: white;
  color: black;
  font-size: 1.5rem;
  width: 40rem;
  height: 22rem;
  margin-top: 5rem;
  margin-left: -5rem;
  padding: 2rem 2rem 2rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}
