.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.FaceWithBubble {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
}

.Confirm {
  grid-area: 2 / 2 / 3 / 3;
}

.Kokotko {
  width: 20rem;
  height: 25rem;
}

.Bubble {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 20%, 0% 0%);
  background-color: white;
  color: black;
  font-size: 1.5rem;
  width: 50rem;
  height: 20rem;
  margin-top: 5rem;
  padding: 2rem 2rem 2rem 7rem;
}
